<div style="text-align: center;">
    <h1>LOGIN</h1>

        USER NAME:<input type="text" #username><br><br>
        PASS WORD:<input type="text" #userpass><br>
        <!-- <input type="submit" value="Login" (click)="user(username.value,username.value)"><br> -->
        <input type="submit" value="Reset"><br><br>

        <input type="button" value="increment">
        <input type="button" value="increment">
        <br>
        <!-- <img [src]="myimg" alt="jdhjs" style="width: 50%; height: 50%;"><br> -->



        
    <!-- {{changeauto}} <br>

        USER NAME : <input type="text" [(ngModel)]="changeauto"> <br><br> -->

</div>