<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WonderSoft</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" a routerLink='S1'>Service<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink='dev'>Developemnt</a></li>
            <li><a routerLink='test'>Testing </a></li>
            <li><a routerLink='dep'>Deployment </a></li>
          </ul>
        </li> -->
        <!-- <li><a routerLink="gal">Galary </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink='sign'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink='log'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav> --> 




<h1>hi welcome to angular</h1>
<!-- <app-gallery></app-gallery>
<app-home></app-home>
<app-login></app-login>
<app-register></app-register> -->

<!-- <app-loan></app-loan> -->
<!-- <a routerLink="H1"> Home </a> |
<a routerLink="G1"> Gallery </a> |
<a routerLink="L1"> Login </a> |
<a routerLink="R1"> Register </a> | -->



<div>
  <p>Hiii... Abishek...</p>
</div>

<select (change)="myclr(color.value)" #color>
  <option value="green">green</option>
  <option value="red">red</option>
  <option value="blue">blue</option>
  <option value="yellow">yellow</option>
</select>



<router-outlet></router-outlet>
