<!-- <div class="container">
    <div class="row g-3">
        <div class="col-md-12 w-50">
            <label for="inputName1" class="form-label" id="firstname">first name</label>
            <input type="text" class="form-control" id="inputName1" [(ngModel)]="firstname">
        </div>
        <div class="col-md-12 w-50">
            <label for="inputName2" class="form-label">last name</label>
            <input type="text" class="form-control" id="inputName2" [(ngModel)]="lastname">
        </div>
        <div class="col-md-12">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" [(ngModel)]="email">
        </div>
        <div class="col-md-12">
            <label for="inputPhone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="inputPhone" [(ngModel)]="phone">
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="password">
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">confirm Password</label>
            <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="confirmPassword">
        </div>
        <div class="align-center">
            <button><input type="type" class="form-control" id="inputPassword4" (click) ="user()" value="register"></button>
        </div>
    </div>
</div> -->